# Ignore Visual Studio Code specific files
.vscode/

# Ignore the .NET output folders and files
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.cache
*.log

# Ignore NuGet package directory
packages/

# Ignore build artifacts
*.dll
*.exe
*.pdb

# Ignore Visual Studio files
*.sln
*.csproj.user

# Ignore Node.js dependencies if using npm
node_modules/

# Ignore macOS .DS_Store files
.DS_Store

# Ignore JetBrains Rider files
.idea/
*.sln.iml
