@namespace SmokeTracker.UI.Components
@using System.Net.Http.Json
@inject HttpClient http

<div class="col">
@if (Logs is not null)
{
    <table class="table table-striped table-bordered table-small">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Duration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Logs)
            {

                <tr>
                    <td>
                        @log.SmokeDate
                    </td>
                    <td>
                        @log.DurationInMinutes
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <p>No Logs yet!</p>
}

</div>

@code {
    public record SmokeLog(int Id, DateTime SmokeDate, int DurationInMinutes, int Craving, int Satisfaction);
    public SmokeLog[]? Logs;

    protected override async Task OnInitializedAsync()
    {
        Logs = await http.GetFromJsonAsync<SmokeLog[]?>("smokelogs");
    }
}