@using SmokeTracker.UI.Components
@page "/"

<h1>Smoke Tracker!</h1>

<AddSmokeLogButton></AddSmokeLogButton>


<div class="container-sm">
<SmokeLogHistory></SmokeLogHistory>
<SmokeLogHistory></SmokeLogHistory>
</div>